
{% extends "base.html.j2" %}

{% block title %}
Admin - Home
{% endblock %}

{% block body %}

<div class="container mx-auto mt-4 p-4 bg-white shadow-lg">
    
    <!-- Admin Panel Title -->
    <div class="flex justify-center items-center mb-6">
        <a href="{{ url_for('index') }}" class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-700 mb-4">Back</a>
        <h1 class="text-xl font-bold">Admin panel</h1>
    </div>
    
    <!-- Buttons -->
    <div class="flex space-x-4">
        <a href="{{ url_for('admin_artists') }}" class="px-6 py-3 bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-150 ease-in-out focus:outline-none focus:shadow-outline" type="button">
            Manage artists
        </a>
        {% if current_user.is_super_user() %}
        <a href="{{ url_for('admin_users') }}" class="px-6 py-3 bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-150 ease-in-out focus:outline-none focus:shadow-outline" type="button">
            Manage users
        </a>
        {% endif %}
    </div>
    
</div>
{% endblock %}