<div style="z-index: 10000;" id="contextMenu" class="absolute bg-gray-800 text-white border border-gray-600 rounded-md shadow-lg z-50 hidden">
  <ul class="p-2">
    <li id="addToQueue" class="cursor-pointer hover:bg-gray-700 p-2">Add to queue</li>
    <!-- <li id="addToPlaylist" class="cursor-pointer hover:bg-gray-700 p-2">Add to playlist</li> -->
  </ul>
</div>