{% extends "base.html.j2" %}
{% block body %}
    <div class="bg-gray-900">
        <div class="flex flex-col md:h-screen lg:py-0 justify-end">
            <div class="flex flex-row flex-grow bg-gray-800">
                
            </div>
            <div class="h-20 flex flex-row flex bg-gray-900">
                <div class="h-15 flex flex-row">

                </div>
                {# 
                   bottom bar 
                #}
            </div>
        </div>
    </div>
{% endblock body %}